@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@font-face{
   font-family: 'ionicons';
   src: url("../_fonts/ionicons.ttf");
}



/* Configuracao de interface*/
body{
   background-color: #9B59B6;
   color: white;
   text-rendering: optimizelegibility;
   font-family: 'Open Sans', sans-serif;
}

div#interface{
   width: 800px;
   background-color: #8E44AD;
   margin: -10px auto 0px auto;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.54);
   padding: 50px 20px 50px 20px;
}

p{
   text-align:justify;
   text-indent:50px;
}


/* Formatação de Imagens com legendas */
figure.foto-legenda{
   position: relative;
   box-shadow: 1px 1px 5px black;
   border: 8px solid white;
   width: 200px;
   transition: .5s;
   margin: auto auto auto auto;
}

figure.foto-legenda img {
   width: 100%;
   height: 100%;
}

figure.foto-legenda figcaption {
   opacity: 0;
   background-color: rgba(0, 0, 0, 0.3);
   color: white;
   position: absolute;
   top: 0px;
   width: 100%;
   height: 100%;
   padding: 10px;
   box-sizing:border-box;
   transition: opacity .5s;
}

figure.foto-legenda:hover figcaption{
   opacity: 1;
   width: 100%;
   height: 100%;
}

figure.foto-legenda:hover{
   width: 470px;
   position:relative;
   margin: auto auto auto auto;
}

   
/* Formatação MENU*/

nav#menu{
   display:inline-block;
}

nav#menu ul{
   list-style: none;
   text-transform: uppercase;
   position: fixed;
   top: 0px;
   left: -40px;
/*   margin auto auto auto auto;*/
}

nav#menu li{
   display: block;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 0px;
   transition: .5s;
}

nav#menu li:hover{
   padding-bottom: 20px;
}

nav#menu li#par{
   background-color: rgba(231, 76, 60, 1);
}

nav#menu li#impar{
   background-color: rgba(192, 57, 43, 1) ;
}

nav#menu h1{
/*   nao mostra o titulo do menu*/
   display: none;
}
header#cabecalho img#icone {
   position: absolute;
   left: 970px;
   top: 15px;
   width: 150px;
   
}


section {
   display:block;
   width: 500px;
   float:left;
   border-right: 1px solid rgb(255, 187, 187);
   padding-right: 10px;
}

aside {
   display:block;
   width:250px;
   float:right;
}

footer#rodape {
   clear:both;
   position:relative;
   padding:auto auto auto auto;
   width:800px;
   height:100%;
   padding: 50px 20px 0px 20px;
   margin-left: -20px;
   margin-bottom: -50px;
   background-color: #7b0071;
}

footer#rodape p{
   text-align: center;
}

nav#menu a {
   text-decoration: none;
   color:inherit;
}
